<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cjc.mapper.activity.ActivityMapper">
 
 <sql id="all_column">
		`id`,`name`, `begin_date`, `end_date`, `take_score`, `type`,`state`
	</sql>
 
  <select id="getActivity" resultType="cjc.entity.activity.Activity">
    select <include refid="all_column"/> from activity_activity WHERE id=#{id, jdbcType=BIGINT};
  </select>
</mapper>