<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cjc.mapper.sys.RoleMapper">
 
  <select id="findRolesByUserId" resultType="cjc.entity.sys.Role">
    select r.id, r.name from sys_user_role ur,sys_role r WHERE user_id=#{userId, jdbcType=BIGINT} ;
  </select>
</mapper>