<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cjc.mapper.sys.UserLoginMapper">
 
  <select id="findUserPass" resultType="cjc.entity.sys.UserLogin">
    select id, username,password from sys_user_login WHERE username=#{username, jdbcType=VARCHAR} AND password=#{password, jdbcType=VARCHAR};
  </select>
  
   <select id="getAllUsers" resultType="cjc.entity.sys.UserLogin">
    select id, username,password from sys_user_login ;
  </select>
</mapper>